/****** Object:  Table [dbo].[t_DBADailybackupReport]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DBADailybackupReport](
	[job_name] [nvarchar](255) NULL,
	[job_enabled] [bit] NULL,
	[frequency] [nvarchar](50) NULL,
	[job_status] [nvarchar](50) NULL,
	[job_duration] [time](7) NULL,
	[succeeded_date] [date] NULL,
	[succeeded_time] [time](7) NULL,
	[error_message] [nvarchar](max) NULL,
	[inserted_timestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_NC_t_DBADailybackupReport]    Script Date: 19-12-2025 12:43:47 ******/
CREATE NONCLUSTERED INDEX [IX_NC_t_DBADailybackupReport] ON [dbo].[t_DBADailybackupReport]
(
	[inserted_timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NC1_t_DBADailybackupReport]    Script Date: 19-12-2025 12:43:47 ******/
CREATE NONCLUSTERED INDEX [IX_NC1_t_DBADailybackupReport] ON [dbo].[t_DBADailybackupReport]
(
	[job_enabled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NC2_t_DBADailybackupReport]    Script Date: 19-12-2025 12:43:47 ******/
CREATE NONCLUSTERED INDEX [IX_NC2_t_DBADailybackupReport] ON [dbo].[t_DBADailybackupReport]
(
	[job_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_t_DBADailybackupReport]    Script Date: 19-12-2025 12:43:47 ******/
CREATE NONCLUSTERED INDEX [IX_t_DBADailybackupReport] ON [dbo].[t_DBADailybackupReport]
(
	[succeeded_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
