/****** Object:  Table [dbo].[t_LogShippingAlerts]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_LogShippingAlerts](
	[Source] [nvarchar](50) NOT NULL,
	[DatabaseName] [nvarchar](256) NOT NULL,
	[InstanceName] [nvarchar](256) NOT NULL,
	[InstanceIP] [nvarchar](max) NULL,
	[AlertStatus] [nvarchar](50) NOT NULL,
	[ErrorMessage] [nvarchar](256) NOT NULL,
	[AlertDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_LogShippingAlerts] ADD  DEFAULT (getdate()) FOR [AlertDate]
GO
