/****** Object:  Table [dbo].[t_ServerPerformance]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ServerPerformance](
	[ServerIP] [nvarchar](50) NOT NULL,
	[CPUUsagePercent] [float] NOT NULL,
	[MemoryUsagePercent] [float] NOT NULL,
	[DiskUsageGB] [float] NOT NULL,
	[ActiveSessions] [int] NOT NULL,
	[Inserted_Timestamp] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_ServerPerformance] ADD  DEFAULT (getdate()) FOR [Inserted_Timestamp]
GO
