/****** Object:  Table [dbo].[t_DBGrowthReport]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_DBGrowthReport](
	[server_ip] [nvarchar](50) NULL,
	[dbname] [sysname] NOT NULL,
	[dbsize] [nvarchar](50) NULL,
	[inserted_timestamp] [datetime] NULL
) ON [PRIMARY]
GO
