/****** Object:  Table [dbo].[t_ClientTableSizeLog]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ClientTableSizeLog](
	[DatabaseName] [sysname] NOT NULL,
	[SchemaName] [sysname] NOT NULL,
	[TableName] [sysname] NOT NULL,
	[RowCounts] [bigint] NULL,
	[TotalSpaceGB] [decimal](18, 2) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_t_ClientTableSizeLog]    Script Date: 19-12-2025 12:43:46 ******/
CREATE CLUSTERED INDEX [IX_t_ClientTableSizeLog] ON [dbo].[t_ClientTableSizeLog]
(
	[DatabaseName] ASC,
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
