/****** Object:  Table [dbo].[t_IndexView]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_IndexView](
	[ServerIP] [nvarchar](50) NULL,
	[JobName] [nvarchar](255) NULL,
	[JobEnabled] [int] NULL,
	[Frequency] [nvarchar](50) NULL,
	[JobStatus] [nvarchar](50) NULL,
	[JobDuration] [time](7) NULL,
	[SucceededDate] [date] NULL,
	[SucceededTime] [time](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_IndexView] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
