/****** Object:  Table [dbo].[t_LRSessionLog]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_LRSessionLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[Status] [varchar](50) NULL,
	[blocked_by] [int] NULL,
	[elapsed_time] [varchar](20) NULL,
	[login_name] [nvarchar](100) NULL,
	[stored_proc] [nvarchar](256) NULL,
	[host_name] [nvarchar](128) NULL,
	[database_name] [sysname] NULL,
	[query_text] [nvarchar](1000) NULL,
	[InsertedTimestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_LRSessionLog] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
