/****** Object:  Table [dbo].[t_LogSpaceResultData]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_LogSpaceResultData](
	[Server_IP] [nvarchar](20) NULL,
	[DatabaseName] [nvarchar](20) NULL,
	[LogSizeMB] [decimal](38, 15) NULL,
	[LogSpaceUsedPercent] [decimal](38, 15) NULL,
	[Status] [nvarchar](20) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
