/****** Object:  Table [dbo].[t_StoredProcedureView]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_StoredProcedureView](
	[InstanceIP] [nvarchar](50) NULL,
	[StoredProcedureName] [nvarchar](255) NULL,
	[LineNumber] [int] NULL,
	[KillCount] [int] NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_StoredProcedureView] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
