/****** Object:  Table [dbo].[t_clientname]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_clientname](
	[ClientName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
