/****** Object:  Table [dbo].[t_Fetchdatabaseaccess]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Fetchdatabaseaccess](
	[DatabaseName] [nvarchar](255) NULL,
	[Server_IP] [nvarchar](128) NULL,
	[UserName] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[DBRole] [nvarchar](128) NULL,
	[DBPermissions] [nvarchar](255) NULL,
	[Inserted_Time] [datetime] NULL
) ON [PRIMARY]
GO
