/****** Object:  Table [dbo].[t_tempdbsessions]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_tempdbsessions](
	[Server_IP] [nvarchar](256) NULL,
	[session_id] [int] NULL,
	[login_name] [nvarchar](256) NULL,
	[host_name] [nvarchar](256) NULL,
	[TempDB_MB] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
	[command] [nvarchar](128) NULL,
	[DBName] [nvarchar](128) NULL,
	[SQLText] [nvarchar](max) NULL,
	[insertedtimestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_tempdbsessions] ADD  DEFAULT (getdate()) FOR [insertedtimestamp]
GO
