/****** Object:  Table [dbo].[t_ArchivalView]    Script Date: 19-12-2025 12:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ArchivalView](
	[ServerIP] [varchar](50) NULL,
	[JobName] [varchar](255) NULL,
	[JobEnabled] [bit] NULL,
	[Frequency] [varchar](50) NULL,
	[JobStatus] [varchar](50) NULL,
	[JobDuration] [varchar](20) NULL,
	[SucceededDate] [date] NULL,
	[SucceededTime] [time](0) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[InsertedTimestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_ArchivalView] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
