/****** Object:  StoredProcedure [dbo].[p_GetLogshippingAlert]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[p_GetLogshippingAlert]        
AS        
BEGIN        
    SET NOCOUNT ON;        
 select             
         Source,      
    DatabaseName,      
    InstanceName,      
    replace(CAST(InstanceIP AS VARCHAR(50)),char(44),':')InstanceIP,      
    AlertStatus,      
    ErrorMessage,      
    AlertDate     
	
 FROM         
        t_LogShippingAlerts        
    WHERE          
      AlertDate in( select max(t.AlertDate)  from t_LogShippingAlerts t where t.DatabaseName=t_LogShippingAlerts.DatabaseName)  
   and datediff(MINUTE,AlertDate,getdate())<48  
  
 ORDER BY         
         AlertDate desc    
    SET NOCOUNT OFF       
END ;    
        
        
        
        
GO
