/****** Object:  StoredProcedure [dbo].[P_StoredGetAllDeadlockReportPaginated]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_StoredGetAllDeadlockReportPaginated]
    @PageNo     INT,
    @PageSize   INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH DEADLOCKCTE AS (
        SELECT 
            StoredProcedureName,
            LineNumber,
            InstanceIP,
            KillCount,
            insertedTimestamp,
            ROW_NUMBER() OVER (
                ORDER BY insertedTimestamp DESC
            ) AS RowNum
        FROM t_DeadLockReport
    )
    SELECT 
        StoredProcedureName,
        LineNumber,
        InstanceIP,
        KillCount,
        insertedTimestamp,
        RowNum
    FROM DEADLOCKCTE
    WHERE RowNum BETWEEN ((@PageNo - 1) * @PageSize + 1)
                     AND (@PageNo * @PageSize)
    ORDER BY RowNum;

    SET NOCOUNT OFF;
END;


GO
