/****** Object:  StoredProcedure [dbo].[P_StoredBackupInsertintoTable]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[P_StoredBackupInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	insert into t_StoredBackupView
    -- Combine data from all specified views
    SELECT * FROM [dbo].[v_InstantBackupJobs39]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs40]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs44]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs48]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs49]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantBackupJobs52]

      ORDER BY 
        succeeded_date DESC, succeeded_time DESC,job_enabled;
     SET NOCOUNT off;
END;


GO
