/****** Object:  StoredProcedure [dbo].[p_GetTableSizeDifference]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[p_GetTableSizeDifference]
AS
BEGIN
    SET NOCOUNT ON;

  
    -- STEP 1: Aggregate duplicates by timestamp + table
  
    WITH TodayData AS (
        SELECT 
            DatabaseName, 
            SchemaName, 
            TableName, 
            CAST(InsertedTimestamp AS DATETIME) AS InsertedTimestamp,
            SUM(TotalSpaceGB) AS TotalSpaceGB,    
            SUM(RowCounts) AS RowCounts,          
            ROW_NUMBER() OVER (
                PARTITION BY DatabaseName, SchemaName, TableName 
                ORDER BY CAST(InsertedTimestamp AS DATETIME) DESC
            ) AS rn
        FROM t_ClientTableSizeLog
        WHERE CAST(InsertedTimestamp AS DATE) = CAST(GETDATE() AS DATE)
        GROUP BY DatabaseName, SchemaName, TableName, CAST(InsertedTimestamp AS DATETIME)
    ),
    YesterdayData AS (
        SELECT 
            DatabaseName, 
            SchemaName, 
            TableName, 
            CAST(InsertedTimestamp AS DATETIME) AS InsertedTimestamp,
            SUM(TotalSpaceGB) AS TotalSpaceGB,    -- 👈 Combine duplicate entries
            SUM(RowCounts) AS RowCounts,          -- 👈 Combine duplicate row counts
            ROW_NUMBER() OVER (
                PARTITION BY DatabaseName, SchemaName, TableName 
                ORDER BY CAST(InsertedTimestamp AS DATETIME) DESC
            ) AS rn
        FROM t_ClientTableSizeLog
        WHERE CAST(InsertedTimestamp AS DATE) = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE)
        GROUP BY DatabaseName, SchemaName, TableName, CAST(InsertedTimestamp AS DATETIME)
    )
  
    SELECT 
        T.DatabaseName,
        T.SchemaName,
        T.TableName,
        ISNULL(Y.TotalSpaceGB, 0) AS YesterdaySizeGB,
        T.TotalSpaceGB AS TodaySizeGB,
        (T.TotalSpaceGB - ISNULL(Y.TotalSpaceGB, 0)) AS SizeDifferenceGB,
        ISNULL(Y.RowCounts, 0) AS YesterdayRows,
        T.RowCounts AS TodayRows,
        (T.RowCounts - ISNULL(Y.RowCounts, 0)) AS RowDifference,
        T.InsertedTimestamp AS TodayTimestamp
    FROM TodayData T
    LEFT JOIN YesterdayData Y
        ON T.DatabaseName = Y.DatabaseName
        AND T.SchemaName = Y.SchemaName
        AND T.TableName = Y.TableName
        AND Y.rn = 1
    WHERE T.rn = 1 and (T.TotalSpaceGB - ISNULL(Y.TotalSpaceGB, 0)) >1
    ORDER BY  sizedifferenceGB DESC;
END;




GO
