/****** Object:  StoredProcedure [dbo].[P_ArchivalInsertintoTable]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_ArchivalInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table t_ArchivalView
	insert into t_ArchivalView
    -- Combine data from all specified views
    SELECT * FROM [dbo].[v_GetInstantArchivalReport39]
    UNION ALL
    SELECT * FROM [dbo].[v_GetInstantArchivalReport40]
    UNION ALL
    SELECT * FROM [dbo].[v_GetInstantArchivalReport44]
    UNION ALL
    SELECT * FROM [dbo].[v_GetInstantArchivalReport48]
    UNION ALL
    SELECT * FROM [dbo].[v_GetInstantArchivalReport49]
    UNION ALL
    SELECT * FROM [dbo].[v_GetInstantArchivalReport52]
      ORDER BY 
        succeeded_date DESC, succeeded_time DESC,job_enabled;
     SET NOCOUNT off;
END;


GO
