/****** Object:  StoredProcedure [dbo].[P_StoredGetAllIndexReport]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_StoredGetAllIndexReport]
AS
BEGIN
    SET NOCOUNT ON;
	select distinct * from t_StoredIndexView
     SET NOCOUNT off;
END;
GO
