/****** Object:  StoredProcedure [dbo].[P_GetInstantIndexReport]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetInstantIndexReport]

AS
BEGIN
    SET NOCOUNT ON;
select
  distinct  
	ServerIP
	,JobName
	,JobEnabled
	,Frequency
	,JobStatus
	,JobDuration
	,SucceededDate
	,SucceededTime
	,ErrorMessage
from 
t_IndexView


     SET NOCOUNT off;
END;
GO
