/****** Object:  StoredProcedure [dbo].[P_GetInstantSessionBlockings]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetInstantSessionBlockings]
AS
BEGIN
    SET NOCOUNT ON;
	select * from t_BlockingSessionsView
     SET NOCOUNT off;
END;
GO
