/****** Object:  StoredProcedure [dbo].[p_GetLRSessionBlockings]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetLRSessionBlockings]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name
       -- query_text
           FROM pj_LRBlockingSessions39

    UNION ALL
    SELECT 
       session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name
       -- query_text
    FROM pj_LRBlockingSessions49

    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name
        --query_text
    FROM pj_LRBlockingSessions40

    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name
        --query_text
    FROM pj_LRBlockingSessions48

    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name
        --query_text
    FROM pj_LRBlockingSessions52

    UNION ALL
    SELECT 
        session_id,
        status,
        blocked_by,
        elapsed_time,
        login_name,
        stored_proc,
        host_name,
		database_name
       -- query_text
   FROM pj_LRBlockingSessions44
    ORDER BY elapsed_time DESC;

    SET NOCOUNT OFF;
END;

GO
