/****** Object:  StoredProcedure [dbo].[P_StoredIndexInsertintoTable]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[P_StoredIndexInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;

	insert into t_StoredIndexView
    -- Combine data from all specified views
    SELECT * FROM [dbo].[v_InstantIndexjobs39]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantIndexjobs40]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantIndexjobs44]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantIndexjobs48]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantIndexjobs49]
    UNION ALL
    SELECT * FROM [dbo].[v_InstantIndexjobs52]
      ORDER BY 
        succeeded_date DESC, succeeded_time DESC,job_enabled;
     SET NOCOUNT off;
END;




GO
