/****** Object:  StoredProcedure [dbo].[P_DeadLockInsertintoTable]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_DeadLockInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table  t_StoredProcedureView
	insert into t_StoredProcedureView
    -- Combine data from all specified views
    SELECT * FROM [V_DeadlockProcedure39]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure49]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure48]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure44]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure52]
    UNION ALL
    SELECT * FROM [V_DeadlockProcedure40]

     SET NOCOUNT off;
END;


  





          


GO
