/****** Object:  StoredProcedure [dbo].[P_GetAllFailedJobsStatus]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllFailedJobsStatus]
AS
BEGIN
    SET NOCOUNT ON;
	select * from t_AllJobsView where jobstatus = 'failed'
     SET NOCOUNT off;
END;
GO
