/****** Object:  StoredProcedure [dbo].[P_GetInstantLogShipping]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[P_GetInstantLogShipping]
AS
BEGIN
    SET NOCOUNT ON;
    -- Combine data from all specified views
    SELECT * FROM [v_GetLogShippingSuccess57]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess102]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess10282]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess111]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess11182]
    UNION ALL
    SELECT * FROM [v_GetLogshippingSuccess117]

     SET NOCOUNT off;
END;


  
          

GO
