/****** Object:  StoredProcedure [dbo].[P_GetAllLongRunningSessionsReport]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllLongRunningSessionsReport]
AS
BEGIN
    SET NOCOUNT ON;
    -- Combine data from all specified views
    SELECT * FROM v_LongRunningSessionsReport48
		where STATUS not like '%suspended%'
	and STATUS not like '%sleeping%'
    UNION ALL
    SELECT * FROM v_LongRunningSessionsReport49
		where STATUS not like '%suspended%'
	and STATUS not like '%sleeping%'
    UNION ALL
    SELECT * FROM v_LongRunningSessionsReport44
		where STATUS not like '%suspended%'
	and STATUS not like '%sleeping%'
    UNION ALL
    SELECT * FROM v_LongRunningSessionsReport40
		where STATUS not like '%suspended%'
	and STATUS not like '%sleeping%'
    UNION ALL
    SELECT * FROM v_LongRunningSessionsReport52
		where STATUS not like '%suspended%'
	and STATUS not like '%sleeping%'
    UNION ALL
    SELECT * FROM v_LongRunningSessionsReport39
	where STATUS not like '%suspended%'
	and STATUS not like '%sleeping%'


     SET NOCOUNT off;
END;





GO
