/****** Object:  StoredProcedure [dbo].[p_GetDriveSpace]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetDriveSpace]
AS
BEGIN
    SET NOCOUNT ON;

    -- Create the temp table to store combined results
    CREATE TABLE #DriveSpaceCombined
    (
        ServerIP NVARCHAR(255),
        volume_mount_point NVARCHAR(255),
        logical_volume_name NVARCHAR(255),
        Total_GB  NVARCHAR(50),
        Free_GB  NVARCHAR(50),
        Total_TB  NVARCHAR(50),
        Free_TB  NVARCHAR(50)
    );

    -- Insert from each view with view name as ServerName
    
	INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus44;

    INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus40;

    INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus39;

    INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus52;

    INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus49;

    INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus38;

    INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus57;

    INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus48;

	INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus130;

	INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus131;

	INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus11181;

	INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus10281;

	INSERT INTO #DriveSpaceCombined
    SELECT *
    FROM v_DriveSpaceStatus117;
  

    -- Output the combined data
    SELECT distinct ServerIP,volume_mount_point,Total_GB,Free_GB,Total_TB,Free_TB						  
	FROM #DriveSpaceCombined		 
    ORDER BY ServerIP, volume_mount_point;
	drop table #DriveSpaceCombined

    SET NOCOUNT OFF;
END;

GO
