/****** Object:  StoredProcedure [dbo].[P_StoredGetAllBackupsReportPaginated]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_StoredGetAllBackupsReportPaginated]
    @PageNo INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH BackupCTE AS (
        SELECT 
            ServerIP,
            JobName,
            JobEnabled,
            Frequency,
            JobStatus,
            JobDuration,
            SucceededDate,
            SucceededTime,
            ErrorMessage,
            InsertedTimestamp,
            ROW_NUMBER() OVER (ORDER BY SucceededDate DESC, SucceededTime DESC) AS RowNum
        FROM t_StoredBackupView
    )
    SELECT *
    FROM BackupCTE
    WHERE RowNum BETWEEN ((@PageNo - 1) * @PageSize + 1)
                     AND (@PageNo * @PageSize)
    ORDER BY RowNum;

    SET NOCOUNT OFF;
END;
GO
