/****** Object:  StoredProcedure [dbo].[p_GenerateIndexingReport]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[p_GenerateIndexingReport]      
AS      
BEGIN      
    SET NOCOUNT ON;      


    ;WITH cte AS
    (
        SELECT     
            job_name,
            CAST(job_enabled AS NVARCHAR(30)) AS job_enabled,
            frequency,
            job_status,
            LEFT(CAST(job_duration AS VARCHAR(50)), 8) AS job_duration,
            CAST(succeeded_date AS NVARCHAR(30)) AS succeeded_date,
            LEFT(CAST(succeeded_time AS VARCHAR(50)), 8) AS succeeded_time,
            error_message,
            CAST(CONVERT(NVARCHAR(30), inserted_timestamp, 113) AS NVARCHAR(30)) AS inserted_timestamp,
            
            ROW_NUMBER() OVER (
                PARTITION BY job_name, succeeded_date
                ORDER BY succeeded_date DESC
            ) AS rn

        FROM t_DBAIndexingReport
        WHERE job_enabled = 1
		and job_name not like '%MaintenanceCleanup_Task_sysdbbackup.Subplan_1%'
and job_name not like '%MaintenancePlan_SYS_BACKUP.Subplan_1%'
and job_name not like '%MaintenanceCleanup_sysdb_Task.Subplan_1%'
          AND CAST(inserted_timestamp AS DATE) >= CAST(DATEADD(DAY, -7, GETDATE()) AS DATE)
    )

    SELECT 
        job_name,
        job_enabled,
        frequency,
        job_status,
        job_duration,
        succeeded_date,
        succeeded_time,
        error_message,
        inserted_timestamp
    FROM cte
    WHERE rn = 1           -- remove duplicates
    ORDER BY job_name, inserted_timestamp;


    SET NOCOUNT OFF;      
END
GO
