/****** Object:  StoredProcedure [dbo].[P_GetInstantDeadlockReport]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[P_GetInstantDeadlockReport] as
BEGIN
    SET NOCOUNT ON;

    -- Combine data from all specified views
    select * from t_StoredProcedureView
    ORDER BY KillCount DESC, StoredProcedureName
	set nocount off;
    
END;




GO
