/****** Object:  StoredProcedure [dbo].[P_AllJobsInsertintoTable]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_AllJobsInsertintoTable]
AS
BEGIN
    SET NOCOUNT ON;
	truncate table t_AllJobsView
	insert into t_AllJobsView
    -- Combine data from all specified views
    SELECT * FROM [dbo].[V_JobsStatus39]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus40]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus44]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus48]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus49]
    UNION ALL
    SELECT * FROM [dbo].[V_JobsStatus52]
      ORDER BY 
        succeeded_date DESC, succeeded_time DESC,job_enabled;
     SET NOCOUNT off;
END;
GO
