/****** Object:  StoredProcedure [dbo].[p_GetLatestLoginDetails]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetLatestLoginDetails]
AS
BEGIN
    SET NOCOUNT ON;

    -- Fetch all records where IsAlertSent is NULL
    SELECT *
    FROM t_Fetchlogindetails
    WHERE IsAlertSent IS NULL
    ORDER BY Inserted_Time DESC;   -- Latest records first

END;
GO
