/****** Object:  StoredProcedure [dbo].[p_GetSessionBlockings]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[p_GetSessionBlockings]          
AS          
BEGIN          
    SET NOCOUNT ON;          
 select               
     session_id,        
    status,        
    blocked_by,        
    kill_command, --(CAST(InstanceIP AS VARCHAR(50)),char(44),':')InstanceIP,        
    wait_time,        
    stored_proc,
	login_name,
	host_name,
	program_name,
	Opentran,
	Database_name    

 FROM           
        t_BlockingSessions          
    WHERE            
      AlertDate in( select max(t.AlertDate)  from t_BlockingSessions t where t.Database_name=t_BlockingSessions.Database_name)    
   and datediff(MINUTE,AlertDate,getdate())<48    
    
 ORDER BY           
         AlertDate desc      
    SET NOCOUNT OFF         
END ;      
          
          


GO
