/****** Object:  StoredProcedure [dbo].[p_GetDailyTableSizePivot]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[p_GetDailyTableSizePivot]
(
    @StartDate DATE,
    @EndDate DATE,
    @DatabaseName VARCHAR(200) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    ---------------------------------------------------------
    -- Step 1: Load Daily Table Sizes into temp table
    ---------------------------------------------------------
    IF OBJECT_ID('tempdb..#DailyData') IS NOT NULL DROP TABLE #DailyData;

    ;WITH DailyData AS (
        SELECT
            DatabaseName,
            SchemaName,
            TableName,
            CAST(InsertedTimestamp AS DATE) AS DataDate,
            SUM(TotalSpaceGB) AS TotalSpaceGB
        FROM t_ClientTableSizeLog
        WHERE CAST(InsertedTimestamp AS DATE) BETWEEN @StartDate AND @EndDate
          AND (@DatabaseName IS NULL OR DatabaseName = @DatabaseName)
        GROUP BY DatabaseName, SchemaName, TableName, CAST(InsertedTimestamp AS DATE)
    )
    SELECT * INTO #DailyData FROM DailyData;

    ---------------------------------------------------------
    -- Step 2: Output Only Daily Growth (>0.5 GB)
    ---------------------------------------------------------
    SELECT 
        d1.DatabaseName,
        d1.SchemaName,
        d1.TableName,
        d2.DataDate AS PreviousDate,
        d1.DataDate AS CurrentDate,
        (d1.TotalSpaceGB - d2.TotalSpaceGB) AS DiffGB
    FROM #DailyData d1
    INNER JOIN #DailyData d2
        ON d1.DatabaseName = d2.DatabaseName
        AND d1.SchemaName = d2.SchemaName
        AND d1.TableName = d2.TableName
        AND d2.DataDate = DATEADD(DAY, -1, d1.DataDate)
    WHERE 
        ABS(d1.TotalSpaceGB - d2.TotalSpaceGB) > 0.5   -- threshold 0.5GB
    ORDER BY DiffGB DESC;

END;


GO
