/****** Object:  StoredProcedure [dbo].[p_GetServerPerformance]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetServerPerformance]
AS
BEGIN
    SET NOCOUNT ON;
    -- Combine data from all specified views
    SELECT * FROM [v_ServerPerformance44]
    UNION ALL
    SELECT * FROM [v_ServerPerformance40]
    UNION ALL
    SELECT * FROM [v_ServerPerformance48]
    UNION ALL
    SELECT * FROM [v_ServerPerformance49]
    UNION ALL
    SELECT * FROM [v_ServerPerformance52]
    UNION ALL
    SELECT * FROM [v_ServerPerformance39]

     SET NOCOUNT off;
END;
GO
