/****** Object:  StoredProcedure [dbo].[p_GetDatabaseSizeReport]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[p_GetDatabaseSizeReport]        
AS 
BEGIN
    SET NOCOUNT ON;

    -- Convert DB size to GB and rank records
    WITH RankedData AS (
        SELECT
            ClientName,
            server_ip,
            dbname,
            dbsize,
            CASE
                WHEN dbsize LIKE '% GB' THEN TRY_CAST(REPLACE(dbsize, ' GB', '') AS FLOAT)
                WHEN dbsize LIKE '% MB' THEN TRY_CAST(REPLACE(dbsize, ' MB', '') AS FLOAT) / 1024 -- Convert MB to GB
                WHEN dbsize LIKE '% TB' THEN TRY_CAST(REPLACE(dbsize, ' TB', '') AS FLOAT) * 1024 -- Convert TB to GB
                ELSE NULL
            END AS dbsize_numeric, -- Normalize sizes to GB
            inserted_timestamp,
            ROW_NUMBER() OVER (PARTITION BY dbname ORDER BY inserted_timestamp DESC) AS row_num
        FROM
            t_DBGrowthReport  
        INNER JOIN  
            t_clientname  
        ON  
            dbname LIKE '%' + ClientName + '%'  
    ),

    -- Fetch the latest two records for comparison
    LatestTwoRecords AS (
        SELECT
            ClientName,
            server_ip,
            dbname,
            MAX(CASE WHEN row_num = 1 THEN inserted_timestamp END) AS present_week,
            MAX(CASE WHEN row_num = 2 THEN inserted_timestamp END) AS previous_week,
            MAX(CASE WHEN row_num = 1 THEN dbsize END) AS current_dbsize,
            MAX(CASE WHEN row_num = 2 THEN dbsize END) AS previous_dbsize,
            MAX(CASE WHEN row_num = 1 THEN dbsize_numeric END) AS current_dbsize_numeric,
            MAX(CASE WHEN row_num = 2 THEN dbsize_numeric END) AS previous_dbsize_numeric
        FROM
            RankedData
        WHERE row_num <= 2
        GROUP BY
            ClientName, server_ip, dbname
    ),

    -- Fetch last 12 weeks data and calculate average weekly growth
    WeeklyGrowth AS (
        SELECT
            dbname,
            DATEDIFF(WEEK, inserted_timestamp, GETDATE()) AS weeks_ago,
            CASE
                WHEN dbsize LIKE '% GB' THEN TRY_CAST(REPLACE(dbsize, ' GB', '') AS FLOAT)
                WHEN dbsize LIKE '% MB' THEN TRY_CAST(REPLACE(dbsize, ' MB', '') AS FLOAT) / 1024
                WHEN dbsize LIKE '% TB' THEN TRY_CAST(REPLACE(dbsize, ' TB', '') AS FLOAT) * 1024
                ELSE NULL
            END AS weekly_dbsize
        FROM
            t_DBGrowthReport
        WHERE
            inserted_timestamp >= DATEADD(WEEK, -12, GETDATE())
    ),

    -- Calculate average growth per week
    GrowthStats AS (
        SELECT
            dbname,
            (MAX(weekly_dbsize) - MIN(weekly_dbsize)) / 12.0 AS avg_weekly_growth
        FROM
            WeeklyGrowth
        GROUP BY
            dbname
    )

    SELECT
        LTR.ClientName,
        LTR.server_ip,
        LTR.dbname,
        LTR.previous_dbsize,
        LTR.current_dbsize,
        CASE
            WHEN LTR.current_dbsize_numeric IS NOT NULL AND LTR.previous_dbsize_numeric IS NOT NULL THEN
                CASE
                    WHEN LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric >= 1024 THEN
                        CAST((LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric) / 1024 AS NVARCHAR(50)) + ' GB'
                    ELSE
                        CAST((LTR.current_dbsize_numeric - LTR.previous_dbsize_numeric) * 1024 AS NVARCHAR(50)) + ' MB'
                END
            ELSE
                'N/A'
        END AS difference_in_size,
        -- Include current DB size in projected growth
        CASE 
            WHEN G.avg_weekly_growth IS NOT NULL AND LTR.current_dbsize_numeric IS NOT NULL 
            THEN CAST(LTR.current_dbsize_numeric + (G.avg_weekly_growth * 12) AS NVARCHAR(50)) + ' GB'
            ELSE 'N/A'
        END AS ProjectedGrowthfor3months -- Project growth based on last 12 weeks + current DB size
    FROM
        LatestTwoRecords LTR
    LEFT JOIN
        GrowthStats G
    ON 
        LTR.dbname = G.dbname;

    SET NOCOUNT OFF;
END;
GO
