/****** Object:  StoredProcedure [dbo].[p_GetLoginDetailsByServerIP]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GetLoginDetailsByServerIP]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LatestInsertedTime DATETIME;

    -- Get latest record where IsAlertSent is NULL
    SELECT TOP 1
        @LatestInsertedTime = Inserted_Time
    FROM t_Fetchlogindetails
    WHERE IsAlertSent IS NULL
    ORDER BY Inserted_Time DESC;

    -- If found, fetch full row
    IF @LatestInsertedTime IS NOT NULL
    BEGIN
        SELECT *
        FROM t_Fetchlogindetails
        WHERE Inserted_Time = @LatestInsertedTime
          AND IsAlertSent IS NULL;
    END
END;
GO
