/****** Object:  StoredProcedure [dbo].[P_GetAllJobsStatus]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_GetAllJobsStatus]
AS
BEGIN
    SET NOCOUNT ON;
	select * from t_AllJobsView
     SET NOCOUNT off;
END;
GO
