/****** Object:  StoredProcedure [dbo].[p_GenerateDeadLockReport]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_GenerateDeadLockReport]        
AS        
BEGIN        
    SET NOCOUNT ON;    

    CREATE TABLE #temp (
        InstanceIP NVARCHAR(15),
        ClientName NVARCHAR(128),
        StoredProcedureName NVARCHAR(256),
        LineNumber INT,
        Count INT 
    );

    INSERT INTO #temp (InstanceIP, ClientName, StoredProcedureName, LineNumber, Count)
    SELECT       
        InstanceIP,  
        PARSENAME(StoredProcedureName, 3) AS ClientName,
        StoredProcedureName,  
        LineNumber,  
        KillCount AS Count
    FROM t_DeadLockReport  
    WHERE 
	 CAST(insertedTimestamp AS DATE) = CAST(GETDATE() AS DATE)
    AND
    (
        
(
    -- If current time is between 6 AM and before 6 PM → fetch morning batch
    CAST(GETDATE() AS TIME) >= '06:00:00'
    AND CAST(GETDATE() AS TIME) < '18:00:00'
    AND CAST(insertedTimestamp AS TIME) >= '06:00:00'
    AND CAST(insertedTimestamp AS TIME) < '18:00:00'
)
        OR
        (
    -- If current time is between 6 AM and before 6 PM → fetch morning batch
    CAST(GETDATE() AS TIME) >= '18:00:00'
    AND CAST(GETDATE() AS TIME) < '23:59:00'
    AND CAST(insertedTimestamp AS TIME) >= '18:00:00'
    AND CAST(insertedTimestamp AS TIME) < '23:59:00'
)
)
    ORDER BY 
        InstanceIP;

    SELECT * FROM #temp;

    DROP TABLE #temp;

    SET NOCOUNT OFF;        
END;
GO
