/****** Object:  StoredProcedure [dbo].[p_gettempdbsessions]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_gettempdbsessions]
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Create temporary table to store combined results
    CREATE TABLE #tempdbSessions (
    Server_IP   nvarchar(256),
    session_id    INT,
    login_name    NVARCHAR(256),
    host_name     NVARCHAR(256),
    TempDB_MB     DECIMAL(18, 2),
    status        NVARCHAR(50),
    command       NVARCHAR(128),
    DBName         NVARCHAR(128),
    SQLText        NVARCHAR(MAX),
	insertedtimestamp datetime default GETDATE()
    );

    -- Step 2: Populate the temp table from all source tables
    INSERT INTO #tempdbSessions
    SELECT 
	Server_IP  ,
	session_id ,
	login_name ,
	host_name  ,
	TempDB_MB  ,
	status     ,
	command    ,
	DBName     ,
	SQLText ,  
	insertedtimestamp
	FROM v_tempdbsessions40

    UNION ALL

     SELECT 
	Server_IP  ,
	session_id ,
	login_name ,
	host_name  ,
	TempDB_MB  ,
	status     ,
	command    ,
	DBName     ,
	SQLText   ,
	insertedtimestamp
	FROM v_tempdbsessions44

    UNION ALL

    SELECT 
	Server_IP  ,
	session_id ,
	login_name ,
	host_name  ,
	TempDB_MB  ,
	status     ,
	command    ,
	DBName     ,
	SQLText   ,
	insertedtimestamp
	FROM v_tempdbsessions48

    UNION ALL

     SELECT 
	Server_IP  ,
	session_id ,
	login_name ,
	host_name  ,
	TempDB_MB  ,
	status     ,
	command    ,
	DBName     ,
	SQLText   ,
	insertedtimestamp
	FROM v_tempdbsessions49

    UNION ALL

     SELECT 
	Server_IP  ,
	session_id ,
	login_name ,
	host_name  ,
	TempDB_MB  ,
	status     ,
	command    ,
	DBName     ,
	SQLText   ,
	insertedtimestamp
	FROM v_tempdbsessions39

    UNION ALL

   SELECT 
	Server_IP  ,
	session_id ,
	login_name ,
	host_name  ,
	TempDB_MB  ,
	status     ,
	command    ,
	DBName     ,
	SQLText   ,
	insertedtimestamp
	FROM v_tempdbsessions52

    -- Step 3: Insert into your permanent table
    INSERT INTO t_tempdbsessions 
	select
        Server_IP ,
	session_id ,
	login_name ,
	host_name  ,
	TempDB_MB  ,
	status     ,
	command    ,
	DBName     ,
	SQLText ,
	insertedtimestamp
FROM #tempdbSessions;

    -- Step 4: Return the result to the caller
    SELECT * FROM #tempdbSessions
    ORDER BY insertedtimestamp DESC;

    -- Clean up
    DROP TABLE #tempdbSessions;

    SET NOCOUNT OFF;
END;
GO
