/****** Object:  StoredProcedure [dbo].[P_StoredGetAllJobsStatus]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[P_StoredGetAllJobsStatus]
    @FromDate DATETIME,
    @ToDate   DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM t_StoredAllJobsView
    WHERE insertedtimestamp >= @FromDate
      AND insertedtimestamp <= @ToDate;

    SET NOCOUNT OFF;
END;
GO
