/****** Object:  StoredProcedure [dbo].[p_GenerateBackupReport_Failed]    Script Date: 19-12-2025 12:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[p_GenerateBackupReport_Failed]  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    -- Report for backup jobs including 'Failed', 'Cancelled', and 'Succeeded'  
    SELECT  
        job_name AS [job_name],  
        CAST(job_enabled AS NVARCHAR(30)) AS [job_enabled],  
        frequency AS [frequency],  
        job_status AS [job_status],  
      --  CAST(job_duration AS NVARCHAR(30)) AS [job_duration],  
        CAST(succeeded_date AS NVARCHAR(30)) AS [failed_date],  
        CAST(succeeded_time AS NVARCHAR(30)) AS [failed_time],  
        error_message AS [error_message]  
       -- CAST(CONVERT(NVARCHAR(30), inserted_timestamp, 113) AS NVARCHAR(30)) AS [inserted_timestamp]  
        --CAST(is_alert_sent AS NVARCHAR(30)) AS [is_alert_sent] -- Uncomment if needed  
    FROM   
        t_DBADailybackupReport   
    WHERE   
        job_enabled = 1  
        AND job_status IN ('Failed','Cancelled') -- Include multiple statuses  
        AND CAST(inserted_timestamp AS DATE) = CAST(GETDATE() AS DATE) -- Filter for today's data  
 --and error_message  like '%Executed as user%'  
     order by inserted_timestamp;  
  
    SET NOCOUNT OFF;  
END  
  
  
GO
