name: Database Deployment Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install SQLCMD
        run: choco install sqlcmd -y

      - name: Deploy Database Scripts
        run: |
          sqlcmd -S CSPLBLRLP403\HARISHINSTANCE -d master -i database/00_DB_creation/00_CreateDatabase.sql
